<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH bikes</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="primerdiv">
            <div class="iconosHeader">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
        
            </div>
            <div class="divHeader">
                <a href="ingreso"><button class="botonesHeader" type="submit">Acceder</button></a>
                <a href="registro"><button class="botonesHeader" type="submit">Crear Cuenta</button></a>
            </div>
        </div>

        <hr>
        <div class="segundodiv" style="background-image:url(images/banner.jpg)">
       
            <img id="logo" src="images/logo.png" alt="logo" width=25% height="200px">                      

            <div class="bars"><i class="fas fa-bars"></i></div>
            <div class="menu">
                
                <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
                <a href="producto" id="productos">Productos |</a>
                <a href="#" id="contacto">Contacto  |</a> 
                <a href="#" id="nosotros">Sobre Nosotros</a><br> 
                
                <input type="text" name="busqueda" id="busqueda"  placeholder="Buscá la bicicleta o accesorio que necesitás"> <a href="#"><i class="fas fa-search"></i></a>
            </div>
                
            <div id="carrito">                
                <a href="carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
            </div>
        </div>
</header> 
<main>
    <hr>
    <h2>Mi Carrito</h2>
    <hr>

    <div class="container">
        <section>
            <article class="art1">
                <h4>Producto</h4>
                <img src="/images/bici1.jpg" alt="Bicicleta" width="22%">
            </article>
            <article class="art2">
                <h4>Precio</h4>
                <p>AR$ 64.000</p>
            </article>
            <article class="art3">
                <h4>Cantidad</h4>
                <i class="far fa-minus-square"></i><span> 1 </span><i class="far fa-plus-square"></i>
            </article>
            <article class="art4">
                <h4>Sub Total</h4>
                <p>AR$ 64.000</p>
            </article>
        </section>

    </div>

<div class="descuento">
    <input type="text" name="codigo" id="codigo"  placeholder="Codigo de Descuento"> 
    <a href="#"></a>
    <a href="#"><button type="button">Aplicar Código</button></a>
</div>
<div class="totalcarrito">
<table  class="totalcarrito2">
    <thead>
        <th colspan="2">Total del Carrito</th>
    </thead>
    <tbody>
    <tr>
        <th>Sub Total</th>
        <td>AR$ 64.000</td>
    </tr>
    <tr>
        <th>Envio</th>
        <td>Calcular Envio <i class="fas fa-truck"></i></td>
    </tr>
    <tr>
        <th>Total</th>
        <td>AR$ 64.000</td>
    </tr>
    <tr>
        <th colspan="2"><a href="#"><button type="button">Finalizar Compra</button></a></th>
    </tr>
    </tbody>
</table>
</div>

</main>

<footer>
    <hr>
    <p>© 2020 DH BIKES</p> 
</footer>
</body>
</html>

