<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH bikes</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="primerdiv">
        <div class="iconosHeader">
    <i class="fab fa-whatsapp"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="far fa-envelope"></i>
    
        </div>
        <div class="divHeader">
    <a href="#"><button class="botonesHeader" type="button">Acceder</button></a>
    <a href="#"><button class="botonesHeader" type="button">Crear Cuenta</button></a>
        </div>
    </div>

        <hr>
        <div class="segundodiv">
       
    <img id="logo" src="images/logo.png" alt="logo" width=25% height="200px">                      

    <div class="menu">
    
        <a href="#" id="home"><i class="fas fa-home"></i>Home |</a>
        <a href="#" id="productos">Productos |</a>
        <a href="#" id="contacto">Contacto</a> <br> <br>
        
        <input type="text" name="busqueda" id="busqueda"  placeholder="Buscá la bicicleta o accesorio que necesitás"> <a href="#"><i class="fas fa-search"></i></a>
    </div>
                
    <div id="carrito">
        <a href="#"><i class="fas fa-shopping-cart"></i>Carrito</a>  
    </div>
</div>
    <hr>
<div class="tercerdiv">
    <div id="categorias">
        <h4><label for="categorias">Categorías</label></h4>
        <ul>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Adultos</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Accesorios</a></li>
        </ul>
        </div>

        <img id="promo" src="images/ahora-12-y-ahora-18.jpg" alt="fotopromo">

<div class="informacion">
    <p><i class="fas fa-map-marker-alt"></i> Av. La Plata y Rivadavia</p>
    <p>C.A.B.A</p>
    <P>Buenos Aires - Argentina</P>
    <br>
    <p><i class="fas fa-phone-alt"></i> +54-11-30572691</p>
    <br>
    <p><i class="fas fa-clock"></i> Lunes a Viernes</p>
    <p>10 a 18hs</p>
</div>

        </div>
    </header>   
    <br>
    <main>
        <hr>
            <h2>Productos que te pueden interesar</h2>
        <hr>
        <section class="interesar">
            
            <article>
                <img src="/images/bici1.jpg" alt="bicicleta1" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/bici2.jpg" alt="bicicleta2" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/bici3.jpg" alt="bicicleta3" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/bici4.jpg" alt="bicicleta4" width="275px" height="250px">
            </article>
        </section>
        
        <hr>
        <h2>Nuestras Marcas</h2>
        <hr>

        <section class="marcas">
            
            <article>
                <img src="/images/felt.jpg" alt="marca-felt" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/fox.jpg" alt="marca-fox" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/pinarello.jpg" alt="marca-pinarello" width="275px" height="250px">
            </article>
            <article>
                <img src="/images/scott.jpg" alt="marca-scott" width="275px" height="250px" >
            </article>
        </section>

    </main>

    <footer>
        <hr>
        <p>© 2020 DH BIKES</p> 
    </footer>


    
</body>
</html>
