<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH bikes</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="primerdiv">
            <div class="iconosHeader">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
        
            </div>
            <div class="divHeader">
                <a href="ingreso"><button class="botonesHeader" type="submit">Acceder</button></a>
                <a href="registro"><button class="botonesHeader" type="submit">Crear Cuenta</button></a>
            </div>
        </div>

        <hr>
        <div class="segundodiv" style="background-image:url(images/banner.jpg)">
       
            <img id="logo" src="images/logo.png" alt="logo"  height="200px">                      

            <div class="bars"><i class="fas fa-bars"></i></div>
            <div class="menu">
                
                <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
                <a href="producto" id="productos">Productos |</a>
                <a href="#" id="contacto">Contacto  |</a> 
                <a href="#" id="nosotros">Sobre Nosotros</a><br> 
                
                <input type="text" name="busqueda" id="busqueda"  placeholder="Buscá la bicicleta o accesorio que necesitás"> <a href="#"><i class="fas fa-search"></i></a><br><br>
            
            </div>
                
            <div class="search"><input type="text" name="busqueda" id="search"  placeholder="Buscá la bicicleta o accesorio que necesitás"> </div>

            <div id="carrito">                
                <a href="carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
            </div>
        </div>
</header> 
<main>
    <hr>
    <div class="tercerdiv">
        <div id="categorias">
            <h3><label for="categorias">Categorías</label></h3>
            <ul>
            <li><a href="#">Niños</a></li>
            <li><a href="#">Adultos</a></li>
            <li><a href="#">Deportes</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Seguros</a></li>
            </ul>
        </div>

        <img id="promo" src="images/ahora-12-y-ahora-18.jpg" alt="fotopromo">

        <div class="informacion">
            <h3 class="tienda">Información de la tienda</h3>
            <p><i class="fas fa-map-marker-alt"></i> Av. La Plata y Rivadavia</p>
            <p>- C.A.B.A. -</p>
            <P>Buenos Aires - Argentina</P>
            <br>
            <p><i class="fas fa-phone-alt"></i> +54-11-30572691</p>
            <br>
            <p><i class="fas fa-clock"></i> Lunes a Viernes</p><br>
            <p> 10 a 18hs</p>
        </div>

    </div>
      
    <br>
    
    <hr>
        <h2>Productos que te pueden interesar</h2>
    <hr>
    <section class="interesar">
            
        <article>
            <a href="productDetail"><img src="/images/bici1.jpg" alt="bicicleta1" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/bici2.jpg" alt="bicicleta2" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/bici3.jpg" alt="bicicleta3" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/bici4.jpg" alt="bicicleta4" width="275px" height="250px"></a>
        </article>
    </section>
        
    <hr>
        <h2>Nuestras Marcas</h2>
    <hr>

    <section class="marcas">
            
        <article>
            <a href="#"><img src="/images/felt.jpg" alt="marca-felt" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/fox.jpg" alt="marca-fox" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/pinarello.jpg" alt="marca-pinarello" width="275px" height="250px"></a>
        </article>
        <article>
            <a href="#"><img src="/images/scott.jpg" alt="marca-scott" width="275px" height="250px" >
        </article></a>
    </section>

</main>

<footer>
    <hr>
    <p>© 2020 DH BIKES</p> 
</footer>


    
</body>
</html>
