<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH bikes</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="primerdiv">
            <div class="iconosHeader">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
        
            </div>
            <div class="divHeader">
                <a href="ingreso"><button class="botonesHeader" type="submit">Acceder</button></a>
                <a href="registro"><button class="botonesHeader" type="submit">Crear Cuenta</button></a>
            </div>
        </div>

        <hr>
        <div class="segundodiv" style="background-image:url(images/banner.jpg)">
       
            <img id="logo" src="images/logo.png" alt="logo" width=25% height="200px">                      
 
            <i class="fas fa-bars"></i>
            <div class="menu">
        
                <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
                <a href="producto" id="productos">Productos |</a>
                <a href="#" id="contacto">Contacto  |</a> 
                <a href="#" id="nosotros">Sobre Nosotros</a><br> <br>
                
                <input type="text" name="busqueda" id="busqueda"  placeholder="Buscá la bicicleta o accesorio que necesitás"> <a href="#"><i class="fas fa-search"></i></a>
            </div>
                
            <div id="carrito">
                <a href="#"><i class="fas fa-heart"></i> | </a>
                <a href="carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>  
            </div>
        </div>
</header>   
    

    <main>
        <br>
        <section id="producto">
            <article class="foto">
                <img  src="/images/bici1.jpg" alt="Futura Futy" width="85%" height="100%" title="Futura Futy">
            </article>
            <article id="productoInfo">
                <h2 id="nombreProducto">Bicicleta Camicleta Futura Futy</h2>
                <p class="precio">$ 8.490</p>
                <br>
                <br>
                <p id="cantidadDisponible">3 disponibles</p>
                <a href="carrito"><button  id="botonAnadir" type="button">Añadir al carrito</button></a>
                <br>
                <br>
                <p id="cuotasDisponibles">12 cuotas de $ </p>
            </article> 
            <article>
                <table id="tablaDesciption">
                    <tr>
                        <th>Descripcion del producto</th>
                        
                    </tr>
                    <tr>
                        <td>Cuadro de aluminio</td>
                    </tr>
                    <tr>
                        <td>Rodado 12</td>
                    </tr>
                    <tr>
                        <td>Manubrio de aluminio regulable en altura.</td>
                    </tr>
                    <tr>
                        <td>Portasilla de aluminio regulable en altura.</td>
                    </tr>
                    <tr>
                        <td>Rueda de goma eva.</td>
                    </tr>
                    <tr>
                        <td>Cierre rápido en el asiento y en el manubrio.</td>
                    </tr>
                    <tr>
                        <td>Superliviana.</td>
                    </tr>
                </table>
            </article>
            <article>
                <table id="infoAdicional">
                    <tr>
                        <th>Informacion adicional</th>
                    </tr>
                    <tr>
                        <td>Que es una Balance Bike?
                            Se trata de una bicicleta de balance.
                            
                            Una bicicleta en la que el niño/a aprende a montarse en una bici.
                            
                            De a poco irá sintiéndose cómodo en ella.
                            
                            Caminara sobre ella, sin apuros y sin presiones.
                            
                            A medida que el niño/a sienta mas confianza, podrá montarla en su asiento e impulsarse con los pies.
                            
                            Siempre en manos de su destreza física.
                            
                            Luego de ello, y solo cuando el niño se sienta con la suficiente confianza podrá andar mas rápido, doblar, bajar y subir pendientes, etc.
                            
                            Solo el niño/a sabrá cuando será ese momento, y recién allí, cuando ese momento llegue, ese niño, jamas volverá a ser el mismo.
                            
                            Ya sabe andar en bicicleta, ya domina su cuerpo, ya mantiene el equilibrio.
                            
                            En unos pocos años, podrá montar , sin rueditas, la siguiente medida, una rodado 16¨.
                            
                            Es una experiencia que todos los niños/as de esa ¨primera infancia¨ deberían experimentar.
                            
                            Porque es un juego, y porque desde pequeños entenderán que si se lo proponen, es posible.</td>
                    </tr>
                </table>
            </article>
        </section>
        
        <hr>
            <h2>Productos relacionados</h2>
        <hr>
        
        <section id="otrosProductos">
            <article class="productRelacionado">
                <a  href="#"><img src="/images/bici4.jpg" alt="bicicleta4"   width="275px" height="250px"></a>
            </article>
            <article class="productRelacionado">
                <a  href="#"><img src="/images/bici1-1.jpg" alt="bicicleta4"   width="275px" height="250px"></a>
            </article>
        </article>
        <article class="productRelacionado">
            <a  href="#"><img src="/images/bici1-2.jpg" alt="bicicleta4"   width="275px" height="250px"></a>
        </article>
        <article class="productRelacionado">
            <a  href="#"><img src="/images/bici1-3.jpg" alt="bicicleta4"   width="275px" height="250px"></a>
        </article>
        </section>

    </main>

    <footer>
        <hr>
        <p>© 2020 DH BIKES</p> 
    </footer>
