<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH bikes</title>
    <link href="style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="primerdiv">
        <div class="iconosHeader">
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="far fa-envelope"></i></a>
    
        </div>
        <div class="divHeader">
    <a href="ingreso"><button class="botonesHeader" type="submit">Acceder</button></a>
    <a href="registro"><button class="botonesHeader" type="submit">Crear Cuenta</button></a>
        </div>
    </div>

        <hr>
        <div class="segundodiv" style="background-image:url(images/banner.jpg)">
       
    <img id="logo" src="images/logo.png" alt="logo" width=25% height="200px">                      

    <div class="menu">
    
        <a href="/" id="home"><i class="fas fa-home"></i>Home |</a>
        <a href="producto" id="productos">Productos |</a>
        <a href="#" id="contacto">Contacto  |</a> 
        <a href="#" id="contacto">Sobre Nosotros</a><br> <br>
        
        <input type="text" name="busqueda" id="busqueda"  placeholder="Buscá la bicicleta o accesorio que necesitás"> <a href="#"><i class="fas fa-search"></i></a>
    </div>
                
    <div id="carrito">
        <a href="#"><i class="fas fa-heart"></i> | </a>
        <a href="#"><i class="fas fa-shopping-cart"></i>Carrito</a>  
    </div>
</div>
    <hr>

    </header>   
    <br>
   <main class="mainregistro">
    <h2>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra <a href="#">política de privacidad.</a></h2>
    <div class="formingreso">
    <form class="formlogin" action="#" method="post">
        <article id="nombreregistro">
            <label for="nombre">Nombre *</label> <br>
        <input type="text" id="nombre" name="nombre"><br><br>
        </article>
        <article id="apellidoregistro">
            <label for="apellido">Apellido *</label> <br>
        <input type="text" id="apellido" name="apellido"><br><br>
        </article>
        <article id="primeritem">
        <label for="correo">Correo Electrónico *</label> <br>
        <input type="email" id="email" name="email"><br><br>
        <label for="correo">Contraseña *</label> <br>
        <input type="password" id="password" name="password"><br><br>
        <label for="correo">Confirma Contraseña *</label> <br>
        <input type="password" id="password" name="password"><br>
        </article>
        <article id="campos">
        <p>*Campos Requeridos</p>
        </article>
        <p id="suscribir"><input type="checkbox" name="suscribir" id="suscribir"> Suscribite para recibir novedades y promociones </p>
        <article id="olvidar"><a href="#"><p>¿Olvidaste tu contraseña?</p></a>
        </article> <br>
        
        <a href="#"><button id="botonregistro" type="submit">Registrarse</button></a>
        
    </form>
    </div>
  
</main>

    <footer>
        <hr>
        <p>© 2020 DH BIKES</p> 
    </footer>


    
</body>
</html>
